body {
    font-family: Arial, sans-serif;
    background-color: #d8d3d3;
}

.container {
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 40px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

p {
    margin: 10px 0;
    padding: 10px 0;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    color: #0b65c5;
    text-decoration: underline;
}


@media screen and (max-width: 600px) {
    p {
        padding: 5px;
    }
}