body {
    font-family: Arial, sans-serif;
    background-color: rgb(19, 18, 18);
    /* background-color: #d8d3d3; */
}

.container {
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    /* background-color: #fff; */
    background-color: rgb(121, 30, 121);
    /* background-color: rgb(151, 18, 151); */
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px 9px rgb(16, 241, 65);
}

h1 {
    font-size: 40px;
}

img {
    max-width: 100%;
    border-radius: 50%;
    height: 250px;
}

p {
    margin: 10px 0;
    padding: 10px 0;
    font-weight: 600;
}

a {
    text-decoration: none;
    /* background-color: #007BFF; */
    background-color: rgb(22, 168, 54);
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    margin-top: 35px;
}

a:hover {
    color: #fff;
    background-color: rgb(25, 121, 44);
    text-decoration: underline;
}


@media screen and (max-width: 600px) {

    .container {
        padding-top: 10%;
        margin: 7%;
        overflow-y: hidden;
    }
    p {
        padding: 5px;
    }
}